img {
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.required label.form-label::after {
    content: " *";
    color: red;
}

input[xo-scope=''], textarea[xo-scope=''] {
    background-color: lightgray !important;
    cursor: wait
}
/*
input[required] {
    background-color: #ffcccc;
}
*/