/** {
    box-sizing: border-box;
    position: relative;
    min-width: 0;
}*/

body {
    min-height: 100dvh;
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

img {
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.required label.form-label::after {
    content: " *";
    color: red;
}

input[xo-scope=''], textarea[xo-scope=''] {
    background-color: lightgray !important;
    cursor: wait
}

.btn-outline-success:hover, .btn-outline-danger:hover, .btn-outline-success:active, .btn-outline-danger:active, .btn-outline-success:focus-visible, .btn-outline-danger:focus-visible {
    filter: opacity(0.5);
}

dialog > * {
    margin: 0 0 0.5rem 0;
}

dialog::-webkit-backdrop {
    background: rgba(0, 0, 0, 0.4);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

dialog.xover-component {
    position: relative;
    overflow: hidden;
    max-height: 90vh;
}

dialog.xover-component > form > section {
    max-height: 80vh;
    overflow: auto;
}
/*
input[required] {
    background-color: #ffcccc;
}
*/